<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter="sass"
            '@FootbelBackendBundle/Resources/public/materialize-src/sass/materialize.scss' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
            '@FootbelBackendBundle/Resources/public/jquery-2.2.0.min.js'
            '@FootbelBackendBundle/Resources/public/materialize-src/js/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('select').material_select();
                });
            </script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
