{% extends 'base.html.twig' %}

{% block body %}

    <section class="row section--promo">
        <div class="col s12 m4">
            <div class="center promo">
                <i class="mdi-maps-directions-walk medium"></i>
                <p class="promo-caption">All results and rankings</p>
                <p class="light center">We're offering a public API to retrieve a wide variety of data, provided by the
                    Belgian Football Association (Footbel). Grouped per season, we have different endpoints for
                    rankings, upcoming and previous matches, an overview of matches per club and many more.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="center promo">
                <i class="mdi-action-cached medium"></i>
                <p class="promo-caption">Continuously synced</p>
                <p class="light center">New data is continuously made available by the Belgian Football Association
                    (Footbel). New results are published, dates might have changed, rankings updated and so on...
                    Shortly after this information is published, it will be available in our data API's.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="center promo">
                <i class="mdi-editor-attach-money medium"></i>
                <p class="promo-caption">Free usage</p>
                <p class="light center">Usage of our API is free of charge.</p>
                <p class="light center">All we require is you register an account and use your personal API key. We do
                    this to prevent abusive usage and misbehavior.</p>
            </div>
        </div>
    </section>

    <section class="row section--angular">
        <h3 class="header thin center">AngularJS implementation</h3>
        TBD...
    </section>

    <section class="row section--showcase">
        <h3 class="header thin center">Showcase</h3>
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    {% image '@FootbalistoFrontendBundle/Resources/public/images/kcvve.png'  output="images/kcvve.png" %}
                    <img src="{{ asset_url }}" class="activator">
                    {% endimage %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">KCVV Elewijt<i
                                class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="http://www.kcvvelewijt.be" target="_blank">http://www.kcvvelewijt.be</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">www.kcvvelewijt.be<i
                                class="mdi-navigation-close right"></i></span>
                    <p>The local footbal team of KCVV Elewijt was the first website to implement our API to show
                        fixtures, results and rankings of all their youth and senior teams on their brand new
                        website.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}